<% @books.each do |book| %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag book.image_url %>
      <div class="caption">
        <h3><%= book.title %></h3>
        <p><%= book.author %></p>
        <p><a href="<%= book.detail_page_url %>" class="btn btn-primary centerize" role="button">Buy This Book</a> 
        </p>
      </div>
    </div>
  </div>
</div>
<% end %>






