<div class="top100books">
<center><h3>The most loved books in the world.</h3></center>
<div class="row">    
  <% @books.each do |book| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <i><%= image_tag book.image_url, class: 'thumbnail' %></i>
      </div>
    </div> 
  <% end %>
</div>
</div>






