<div class="container">
	<div class="row">

		<div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-1">
				<br>
				<br>
				<blockquote class="twitter-tweet" lang="en"><p>I&#39;m told <a href="https://twitter.com/search?q=%23brenda&amp;src=hash">#brenda</a> is trending, so I&#39;m sharing my favourite expression &quot;HELLO BRENDA&quot; say it when life surprises you- in a good way- YESBRENDA</p>&mdash; Lara Bar (@larabarrr) <a href="https://twitter.com/larabarrr/statuses/431375865969000448">February 6, 2014</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
		</div>

        <!-- Boxes de Acoes -->

    	<div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-2 ">
				<div class="box">							
				<li> <%= link_to user_omniauth_authorize_path(:twitter) do %><i class="fa fa-twitter fa-2x"></i>
					<% end %>
				</li>
				</div> 
			</div>

	<!-- 	    	<div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-4 ">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-thumbs-o-up"></i></div>
					<div class="info">
						<h1 class="title">Choose my Books</h1>
						<p>
							<h2>
								Want to share your top 3 books with the world?
								<p>
									Just click below
								</p>
							</h2>
						</p>
						<div class="more">
							<a href="http://lvh.me:3000/" title="Title Link">
								Create <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div> -->



	</div>
</div>