<div class="container">
	<div class="row">

        <!-- Boxes de Acoes -->

    

	<!-- 	    	<div class="col-xs-12 col-sm-6 col-lg-4 col-lg-offset-4 ">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-thumbs-o-up"></i></div>
					<div class="info">
						<h1 class="title">Choose my Books</h1>
						<p>
							<h2>
								Want to share your top 3 books with the world?
								<p>
									Just click below
								</p>
							</h2>
						</p>
						<div class="more">
							<a href="http://lvh.me:3000/" title="Title Link">
								Create <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div> -->



	</div>
</div>