<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-3 col-lg-3 col-lg-offset-1">
				<a class="twitter-timeline" width="280" height="500" href="https://twitter.com/search?q=%23swag" data-widget-id="431563487697854464">Tweets about "#swag"</a>				
		</div>
		<div class="col-xs-12 col-sm-3 col-lg-3 col-lg-offset-0">
				<a class="twitter-timeline" width="280" height="500" href="https://twitter.com/search?q=%23swag" data-widget-id="431563487697854464">Tweets about "#swag"</a>				
		</div>
		<div class="col-xs-12 col-sm-3 col-lg-3 col-lg-offset-0">
				<a class="twitter-timeline" width="280" height="500" href="https://twitter.com/search?q=%23swag" data-widget-id="431563487697854464">Tweets about "#swag"</a>				
		</div>

	</div>
</div>		


				
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
