
<div class="row">
	<div class="col-lg-3 col-lg-offset-1 logo">  
		<div class="view view-third">
	     <img src="http://ecx.images-amazon.com/images/I/51ocUKu6MGL.jpg" />  
	     	<div class="mask"> 
	     		<h2>Harry Potter and the Deathly Hallows</h2>  
	     		<p>J. K. Rowling</p>  
	       	<a href="#" class="info">Read More</a>  
	     </div>  
	 	</div>
	</div>

	<div class="col-lg-3">  
	<div class="view view-third">
	     <img src="http://ecx.images-amazon.com/images/I/41YHXAgp9IL.jpg" />  
	     <div class="mask">  
	     	<h2>Title</h2>  
	     	<p>Your Text</p>  
	       <a href="#" class="info">Read More</a>  
	       </div>
	     </div>  
	</div>  

	<div class="col-lg-3">  
	<div class="view view-third">
	     <img src="http://ecx.images-amazon.com/images/I/513fB36QiOL.jpg" />  
	     <div class="mask">  
	     	<h2>Title</h2>  
	     	<p>Your Text</p>  
	       <a href="#" class="info">Read More</a>  
	       </div>
	     </div>  
	</div>    
</div>