

<link rel="stylesheet" href="//frontend.reklamor.com/fancybox/jquery.fancybox.css" media="screen">
<script src="//frontend.reklamor.com/fancybox/jquery.fancybox.js"></script>

<div class="container">



	<div class="row">
		<div class='list-group gallery'>
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3 col-lg-offset-1'>
            
                <a class="thumbnail fancybox" rel="ligthbox" href="http://www.autismcoach.com/v/vspfiles/assets/images/mr_tickle.jpg">
                    <img class="img-responsive" alt="" src="http://www.autismcoach.com/v/vspfiles/assets/images/mr_tickle.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Image</small>
                    </div> <!-- text-right / end -->
                </a>
            </div>
             <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="http://www.twwn.net/Misc/hbpukchildcover.jpg">
                    <img class="img-responsive" alt="" src="http://www.twwn.net/Misc/hbpukchildcover.jpg" />
                    <div class='text-right'>
                        <small class='text-muted'>Image </small>
                    </div> <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->
            <div class='col-sm-4 col-xs-12 col-md-3 col-lg-3'>
                <a class="thumbnail fancybox" rel="ligthbox" href="http://babyccinokids.com/wp-content/uploads/2011/08/james-and-the-giant-peach.jpeg">
                    <img class="img-responsive" alt="" src="http://babyccinokids.com/wp-content/uploads/2011/08/james-and-the-giant-peach.jpeg" />
                    <div class='text-right'>
                        <small class='text-muted'>Image</small>
                    </div> <!-- text-right / end -->
                </a>
            </div> <!-- col-6 / end -->      
        </div> <!-- list-group / end -->
	</div> <!-- row / end -->
</div> <!-- container / end -->

<script>
$(document).ready(function(){
    $(".fancybox").fancybox({
        openEffect: "none",
        closeEffect: "none"
    });
});
</script>