<div class="row search-row">

  <div class="col-xs-10 col-xs-offset-1" id="title">
          <%= form_for @book do |f| %>
            <%= f.text_field :title, class: "form-control book-title" %>
            <%= f.submit "Submit", class: "button button-flat-caution" %> 
          <% end %>
  </div>
</div>

