<div class="row">
  <div class="col-md-4 book" data-book-id="1" data-filled='false'> 
    <!-- <div class="numbertitle"> -->
      <h3>1</h3>
    <!-- </div> -->
      <div class="view view-third">
          <%= image_tag("", class: "panel-image-preview") %> 
        <!-- </div> -->
          <div class="mask">
            <a class= 'close' href='#'>✖</a>
            <div class="panel-body">
              <h2></h2>
              <h4></h4>
              <p></p>
              <br>
              <button class="btn-success next_book" id="choose_another">
                Wrong Cover?
              </button>
            </div>
          </div>
      </div>
  </div>

       

    <div class="col-md-4 book" data-book-id="2" data-filled='false'>
      <h3>2</h3>
      <div class="view view-third">      
        <%= image_tag("", class: "panel-image-preview") %> 
        <div class="mask">
        <a class= 'close' href='#'>✖</a>
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <p></p>
            <button class="btn-success next_book" id="choose_another">
              Wrong Cover?
            </button>
          </div>
        </div>
      </div>
    </div>





  <div class="col-md-4 book" data-book-id="3" data-filled='false'>
    <h3>3</h3>
    <div class="view view-third">      
        <%= image_tag("", class: "panel-image-preview") %> 
        <div class="mask">
        <a class= 'close' href='#'>✖</a>
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <p></p>
            <button class="btn-success next_book" id="choose_another">
              Wrong Cover?
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
