<div class="row">
  <div class="col-md-4 book " data-book-id="1" data-filled='false'>
      <h1>1</h1>
        <div class="view view-third" style=" background: #ffffff;">
          <%= image_tag("", class: "panel-image-preview") %> 
          <div class="mask">
            <button class= 'close' href='#'>✖</button>
            <div class="panel-body">
              <h2></h2>
              <h4></h4>
              <p></p>
              <br>
              <button class="btn-success next_book" id="choose_another">
                Wrong Cover?
              </button>
            </div>
          </div>
      </div>
  </div>

       

    <div class="col-md-4 book" data-book-id="2" data-filled='false'>
      <h1>2</h1>
      <div class="view view-third">      
        <%= image_tag("", class: "panel-image-preview") %> 
        <div class="mask">
        <a class= 'close' href='#'>✖</a>
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <p></p>
            <button class="btn-success next_book" id="choose_another">
              Wrong Cover?
            </button>
          </div>
        </div>
      </div>
    </div>





  <div class="col-md-4 book" data-book-id="3" data-filled='false'>
      <h1>3</h1>
    <div class="view view-third">      
        <%= image_tag("", class: "panel-image-preview") %> 
        <div class="mask">
        <a class= 'close' id="closebook" href='#'>✖</a>
          <div class="panel-body">
            <h2></h2>
            <h4></h4>
            <p></p>
            <button class="btn-success next_book" id="choose_another">
              Wrong Cover?
            </button>
          </div>
        </div>
    </div>
  </div>
</div>
