<div class='list-group books-tweets'>
<A NAME="top_10_books">
        <div class='col-sm-6'>
                     <center><h3>Top 10 books</h3></center>
                        <div class="top-books"> 
                          <ul>
                  <% @top_books.each_with_index do |book, index| %>
                        <li>
                          <h4><%=index+1%>. <%= book.title.truncate(40) %></h4>
                          <p>by <%= book.author %></p>
                          <div class="rank-count">
                            <p>Selected: <%= book.selections.count%></p>
                          </div>
                        </li>
                  <% end %></ul>
              </div>

        </div>
         <!-- col-6 / end -->
         <A NAME="tweets">
        <div class='col-sm-6'>
          <center><h3>Latest Tweets</h3></center>
            <a class="twitter-timeline" width="500" height="500" data-border-color="#0C063C"  data-border-size="2" href="https://twitter.com/search?q=%23dogeared" data-widget-id="431372755544440832">Tweets about "#dogeared"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div> <!-- col-6 / end -->
        
    </div> <!-- list-group / end -->
