<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster|Old+Standard+TT' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'create_books_button.html.erb' %>

<%= render 'image_link.html.erb' %>

<%= render 'top10_books.html.erb' %>


</body>
</html>