#wrapper {
  padding-left: 320px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -320px;
  left: 320px;
  display:none;
  width: 320px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 320px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-indicators .active {
width: 12px;
height: 12px;
margin: 0;
background-color: #1F0404;
}
.carousel-indicators li {
display: inline-block;
width: 10px;
height: 10px;
margin: 1px;
text-indent: -999px;
cursor: pointer;
background-color: #000 \9;
background-color: rgba(0,0,0,0);
border: 1px solid #0D0202;
border-radius: 10px;
}

.carousel-control.right {
background-image: none;
}

.carousel-control.left {
background-image: none;
}

.carousel-inner img {display: block;margin:0 auto;}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: none;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#mobile {
  font-family: 'Special Elite', cursive;
}

.navbar-brand {
display: inline-block;
}
 
.col-xs-6 h2 {
  font-size: 12px;
  color: #ffffff;
} 

#wrapper {
  padding-left: 0;
  display: block;
}

.navbar-header p {
  margin-top: auto;
  margin-bottom: auto;
}

#sidebar-wrapper {
  left: 0;
  display: block;
}

#main-nav {
  display: block;
}

#main-nav.hide {
  display: none;
}

#sidebar-wrapper.active {
  margin-left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 320px;
  width: 320px;
  transition: all 0.4s ease 0s;
}

#menu-close {
  margin-bottom: 30px;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}