// Place all the styles related to the selections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.view {
    width: 100%;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-family: 'Special Elite', cursive;
/*    -webkit-box-shadow: 0 0 40px 16px #fff;
    -moz-box-shadow: 0 0 40px 16px #fff;
    box-shadow: 0 0 40px 16px #fff;*/
    cursor: default; 
}

.book {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*  */

.view .mask, .view .content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}

.panel-body {
    height: 100%;
}

.view .content p {
    max-height: 320px;
    overflow: scroll;
}

.view .panel-image-preview {
    display: inline-block;
    position: relative;
    /*max-width: 100%;*/
    max-height: 370px;
    max-width: 100%;
}

.image-box {
    display: none;
    background-color: #fff;
    padding: 25px;
    border: 2px solid #0C063C;
    margin-bottom: 20px;
}
.image-box h1 {
    font-family: 'Special Elite', cursive;
    color: #0C063C;
    font-size: 14px; 
}


.image-box-other {
    background-color: #fff;
    padding: 25px;
    border: 2px solid #0C063C;
    margin-bottom: 20px;
}

.spinner {
    display: none;
}


.spinner2 {
    display: none;
}



.view .view-third {
  font-family: 'Special Elite', cursive;
  color: #0C063C;
  text-align: center;
  font-weight: bold; 
}

.view button, .view button:hover, 
.view button:visited, .view button:focus,
.view button:active {
    background-color: black;
    border-color: black;
}

.view h2 {
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}

.view h4 {
    font-family:'Special Elite', cursive;
    color: white;
}

.view p {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    position: relative;
    color: #fff;
 /*   padding: 10px 20px 20px;*/
    text-align: center
}

.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-third .panel-image-preview {   
    transition: all 0.8s ease-in; 
}
.view-third .mask { 
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
   	transform: translate(460px, -100px) rotate(180deg);
    transition: all 0.5s 0.2s ease-in-out;
    padding: 10px 10px 30px 10px;
}
.view-third h2{
    transform: translateY(-100px);
    transition: all 0.5s ease-in-out;
}
.view-third p { 
    transform: translateX(300px) rotate(90deg);
    transition: all 0.5s ease-in-out;
}
.view-third a.info { 
    transform: translateY(-200px);
    transition: all 0.5s ease-in-out;
} 

.view-third:hover .mask { 
    opacity:1; 
    transition-delay: 0s;                            
    transform: translate(0px, 0px);
}
.view-third:hover h2 { 
    transform: translateY(0px); 
    transition-delay: 1.0s; 
}
.view-third:hover p { 
    transform: translateX(0px) rotate(0deg);
    transition-delay: 1.0s;
}
.view-third:hover a.info { 
    transform: translateY(0px);
    transition-delay: 1.0s;
}

.view-third:hover::-webkit-scrollbar p { 
    transform: translateX(0px) rotate(0deg);
    transition-delay: 1.0s;
}

.view-third .mask p {
    height: 70%;
    overflow: scroll;
}





/*

Styling the counter itself.
Set image paths accordingly.

THIS YOU NEED TO KEEP.

So you can have multiple counters on a page, just make sure each one has a class of "flip-counter".

*/

.flip-counter ul.cd{float:left;list-style-type:none;margin:0;padding:0}
.flip-counter li{background:url(../img/digits.png) 0 0 no-repeat}
.flip-counter li.t{background-position:0 0;width:53px;height:39px}
.flip-counter li.b{background-position:0 0;width:53px;height:64px}
.flip-counter li.s{background-position:-53px -1030px;width:14px;height:103px}



































