<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="footer">
  <div class="container">
  
    <p>Made with <i style="color:red" class="fa fa-heart"></i> at Makers Academy by <a href="https://github.com/larahy">Lara, </a><a href="https://github.com/traviagio">Georgi, </a><a href="https://github.com/TomGroombridge">Tom,</a> and <a href="https://github.com/chrishill627">Chris</a></p>
  </div>
</nav>
