<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="footer">
  <div class="container">
  
    <p>Made with love <i style="color:red" class="fa fa-heart"></i> at Makers Academy by Lara, Georgi, Tom and Chris
    &nbsp &nbsp &nbsp <a href="mailto:info@dogearedpages.me">CONTACT</a></p>
  </div>
</nav>
